.slideshow {
    position: relative;
    height: auto;
    /* margin-left: 5% !important; */
    width: 53%;
  }
  
  .slideshow::before, .slideshow::after {
    display: block;
    content: '';
    /* height: 31.25px; */
  }
  
  .slideshow .slides {
    max-height: 800px;
    display: none;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: 50 50;
       object-position: 50 50;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 200% !important;
  }
  
  .slideshow .button {
    cursor: pointer;
    position: absolute;
    top: 45%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    height: 40px;
    width: 20px;
    border: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .slideshow .button:hover {
    background: rgba(0, 0, 0, 1);
    color: white;
  }
  
  .slideshow .left {
    left: 11%;
  }
  
  .slideshow .right {
    right: -98%;
  }


  @media (min-width: 1200px){
    .slideshow .slides {
      max-height: 800px;
      display: none;
      -o-object-fit: contain;
         object-fit: contain;
      -o-object-position: 50 50;
         object-position: 50 50;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 500% !important;
    }

    .slideshow .left {
      left: 11%;
    }
    
    .slideshow .right {
      right: -40%;
    }

  }
